body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #fcfcfc;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  text-transform: none;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-gi-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.gi-nav-link {
  display: block;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.gi-nav-link:hover {
  box-shadow: 0 3px 0 0 #20285d;
  color: #b41f28;
  text-decoration: none;
}

.footer {
  display: block;
  margin-top: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f6f7f7;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 20%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  text-decoration: underline;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ebebeb;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.hero {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.split-hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eeece4;
}

.hero-image-mask {
  width: 100%;
  margin-left: 0px;
}

.hero-image {
  width: 75%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  margin-bottom: -68px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Serving-those-that-served.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-overlay.about-us-hero {
  height: 70vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

.cards-section {
  display: block;
  padding-top: 0px;
  padding-bottom: 100px;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cards-grid-container-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-grid-container-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.grid-4 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99999999;
  background-color: #ddd;
}

.gi-sign-in-button {
  border-radius: 5px;
  background-color: #b41f28;
  text-transform: uppercase;
}

.gi-sign-in-button:hover {
  background-color: rgba(180, 31, 40, 0.8);
}

.gi-sign-in-button:active {
  background-color: rgba(180, 31, 40, 0.5);
  color: #20285d;
}

.gi-sign-up-button {
  border-radius: 5px;
  background-color: #b41f28;
  text-transform: uppercase;
}

.gi-sign-up-button:hover {
  background-color: rgba(180, 31, 40, 0.8);
}

.gi-sign-up-button:active {
  background-color: rgba(180, 31, 40, 0.5);
  color: #20285d;
}

.employer-nav-link {
  display: block;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.employer-nav-link:hover {
  box-shadow: 0 3px 0 0 #20285d;
  color: #b41f28;
  text-decoration: none;
}

.employer-sign-in-button {
  border-radius: 5px;
  background-color: #b41f28;
  text-transform: uppercase;
}

.employer-sign-in-button:hover {
  background-color: rgba(180, 31, 40, 0.8);
}

.employer-sign-in-button:active {
  background-color: rgba(180, 31, 40, 0.5);
  color: #20285d;
}

.employer-sign-up-button {
  border-radius: 5px;
  background-color: #b41f28;
  text-transform: uppercase;
}

.employer-sign-up-button:hover {
  background-color: rgba(180, 31, 40, 0.8);
}

.employer-sign-up-button:active {
  background-color: rgba(180, 31, 40, 0.5);
  color: #20285d;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 65px;
  line-height: 85px;
  font-weight: 700;
  text-align: center;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
}

.link-block {
  position: relative;
  left: 90px;
  top: -225px;
  width: 60%;
  height: 60px;
  float: none;
  clear: none;
  border-radius: 150px;
  background-color: #20285d;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  background-color: #20285d;
}

.div-block-2 {
  background-color: #b41f28;
}

.text-block {
  position: static;
  display: inline-block;
  width: auto;
  margin-right: 185px;
  float: left;
  clear: none;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.text-block-2 {
  display: inline;
  margin-left: 25px;
  float: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list {
  font-family: 'PT Sans', sans-serif;
}

.footer-address {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
  text-transform: none;
}

.footer-address:hover {
  text-decoration: underline;
}

.footer-address-heading {
  margin-top: 0px;
  margin-bottom: 5px;
  float: none;
  clear: none;
  font-family: 'PT Sans', sans-serif;
  color: #20285d;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-nav-link-heading {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'PT Sans', sans-serif;
  color: #20285d;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.footer-social-media-heading {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'PT Sans', sans-serif;
  color: #20285d;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.div-block-3 {
  position: absolute;
  top: 3250px;
  clear: none;
}

.footer-image-2 {
  width: 20%;
  height: 20%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link-2 {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link-2:hover {
  text-decoration: underline;
}

.bold-text {
  font-weight: 400;
}

.bold-text-2 {
  font-weight: 400;
}

.div-block-4 {
  width: 30%;
}

.horizontal-divider {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: #d8d8d8;
}

.div-block-5 {
  width: 325px;
}

.div-block-6 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-7 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 0.5fr 0.25fr;
  grid-template-columns: 0.5fr 0.5fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link {
  color: #222;
}

.link.w--current {
  color: #333;
}

.link-2 {
  color: #333;
}

.heading-2 {
  display: block;
  width: 25vw;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  float: none;
  clear: none;
  font-family: Montserrat, sans-serif;
  color: #20285d;
  font-weight: 700;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-8 {
  display: block;
  margin-right: 91px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-overlay-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/signing-document-image.jpg'), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-image: url('../images/signing-document-image.jpg'), linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 10% 10%, 0px 0px, 50% 50%;
  background-size: cover, auto, auto;
  background-repeat: no-repeat, repeat, repeat;
  color: #fff;
}

.centered-container-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.div-block-9 {
  height: 100vh;
}

.t-c-paragraphs {
  margin-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.heading-3 {
  padding-right: 10px;
  padding-left: 10px;
}

.last-paragraph {
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.heading-4 {
  padding: 0px 10px;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.paragraph-2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: center;
}

.columns {
  margin-top: 50px;
  margin-bottom: 25px;
}

.image {
  display: inline-block;
}

.text-block-3 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.link-3 {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 32px;
  font-family: Montserrat, sans-serif;
  color: #727272;
  text-align: left;
  text-decoration: none;
}

.div-block-10 {
  display: inline-block;
  width: 100vh;
  height: 5px;
  background-color: #f5f5f5;
}

.success-message {
  margin-top: 25px;
}

.error-message {
  background-color: #b41f28;
  color: #fff;
}

.submit-button {
  width: auto;
  min-width: 10%;
  border-radius: 20px;
  background-color: #b41f28;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: center;
}

.textarea {
  height: auto;
  font-family: Montserrat, sans-serif;
}

.columns-2 {
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.about-us-text-box {
  height: 50vh;
  padding: 100px 54px 0px;
  background-color: transparent;
}

.about-us-image-box {
  height: 50vh;
  background-image: url('../images/Whoweare.jpg'), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: cover, 125px;
  background-repeat: no-repeat, repeat;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #20285d;
}

.heading-6 {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.paragraph-3 {
  padding-right: 9px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
}

.about-us-text-box-2 {
  height: 50vh;
  padding: 35px 54px 0px;
  background-color: transparent;
}

.column-3 {
  background-color: #b41f28;
}

.heading-7 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
}

.paragraph-4 {
  padding-right: 5px;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.paragraph-5 {
  padding-right: 31px;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.about-us-image-box-2 {
  height: 50vh;
  background-image: url('../images/What-we-do.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-image-box-3 {
  height: 50vh;
  background-image: url('../images/construction-worker-with-flag.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-text-box-3 {
  height: 50vh;
  padding: 100px 54px 0px;
  background-color: #eeece4;
}

.mission-heading {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #20285d;
}

.mission-paragraph {
  padding-right: 9px;
  font-family: Montserrat, sans-serif;
  color: #20285d;
  font-weight: 400;
}

.about-us-image-box-4 {
  height: 50vh;
  background-image: url('../images/Man-Pledging.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.vision-heading {
  margin-top: 100px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .cards-grid-container {
    grid-column-gap: 20px;
  }
  .cards-grid-container-2 {
    grid-column-gap: 20px;
  }
  .cards-grid-container-3 {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }
  .nav-grid {
    text-align: center;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .contact-form {
    padding: 40px 20px;
  }
  .hero {
    padding: 40px 20px;
  }
  .split-hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .call-to-action {
    padding: 40px 20px;
  }
  .hero-overlay {
    padding: 40px 20px;
  }
  .cards-section {
    padding: 40px 20px;
  }
  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .cards-grid-container-2 {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .cards-grid-container-3 {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .main-content {
    padding: 40px 20px;
  }
  .footer-image-2 {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .hero-overlay-2 {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-gi-logo-link {
    border-top: 1px solid #c4c4c4;
  }
  .gi-nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .centered-container {
    text-align: left;
  }
  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .cards-grid-container-2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .cards-grid-container-3 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .employer-nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
  .footer-address-heading {
    margin-top: 20px;
  }
  .footer-nav-link-heading {
    margin-top: 20px;
  }
  .footer-social-media-heading {
    margin-top: 20px;
  }
  .footer-heading-2 {
    margin-top: 20px;
  }
  .centered-container-2 {
    text-align: left;
  }
}

#w-node-55740aacc7f4-0aacc7ad {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-0ec2ee0e56ab-ee0e5681 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-209375387c19-75387c18 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-0ec2ee0e569b-ee0e5681 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0ec2ee0e569f-ee0e5681 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0ec2ee0e56a3-ee0e5681 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0ec2ee0e56a7-ee0e5681 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-209375387c19-75387c18 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

